# build output
dist/
.output/
.vercel/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
*.log

# environment variables
.env
.env.*
!.env.example

# macOS
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
